.card {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 90px repeat(3, 2rem);
    justify-content: start;
    align-content: start;
    gap: 2px;
    border-radius: 10px;
    box-shadow: grey 2px 2px 5px;
    width: 300px;
}

.card-data-title {
    font-weight: 600;
}

.card-data-info {
    justify-self: end;
}

.card-flag {
    width: 100px;
    justify-self: end;
}