/* .home-hero {
    text-align: left;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
} */

h2 {
    margin: 1rem 0;
}

.home {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../assets/world-hero.png');
    background-repeat: no-repeat;
    background-size:contain;
}

.home-hero-title {
    background-color: red;
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 2;
}

.home-hero-data {
    background-color: blue;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 2;
}

.hidden {
    display: none;
}

/* 
.home-hero-world {
    position: relative;
    width: 100%;
    height: 50vh;
}

.home-hero-rotate-container {
    position: relative;
    width: 50%;
    height: 50vh;
}

.home-hero-square-white {
    border-radius: 35px;
    position: absolute;
    bottom: -10px;
    right: -100px;
    background-color: var(--grey);
    width: 400px;
    height: 400px;
    animation-name: hero-rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform: rotate(-45deg);
    z-index: 0;
}

.home-hero-square-blue {
    border-radius: 35px;
    position: absolute;
    bottom: -10px;
    right: -100px;
    background-color: var(--blue);
    width: 370px;
    height: 380px;
    animation-name: hero-rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform: rotate(-55deg);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero-covid-img {
    width: 80%;
    height: 80%;
} */

/* @keyframes hero-rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-22deg)};
    100% {transform: rotate(-45deg)};
} 

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
} */