.home {
    width: 100%;
}

.home-hero {
    text-align: left;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

h2 {
    margin: 1rem 0;
}

.home-hero-title {
    z-index: 2;
}

.home-hero-rotate-container {
    position: relative;
    width: 50%;
    height: 50vh;
}

.home-hero-square-white {
    border-radius: 35px;
    position: absolute;
    bottom: -10px;
    right: -100px;
    background-color: var(--grey);
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    z-index: 0;
}

.home-hero-square-blue {
    border-radius: 35px;
    position: absolute;
    bottom: -10px;
    right: -100px;
    background-color: var(--blue);
    width: 370px;
    height: 380px;
    transform: rotate(55deg);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero-covid-img {
    width: 80%;
    height: 80%;
}

/* @keyframes hero-rotate {
    50% {transform: rotate(22deg)};
    100% {transform: rotate(45deg)};
} */

@media (max-width: 768px) {
    .home-hero {
        flex-direction: column;
    }
}